<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/style.css">
  <title>Edit <%= planet.name %>
  </title>
</head>

<body>
  <%- include('../partials/_navbar.ejs') %>

    <nav>
      <h1>Edit <%= planet.name %>
      </h1>

      <form action="/users/<%= user._id %>/planets/<%= planet._id %>?_method=PUT" method="POST">
        <label for="name">Planet Name:</label>
        <input type="text" name="name" id="name" value="<%= planet.name %>" required>

        <label for="planetDescription">Description:</label>
        <input type="text" name="planetDescription" id="planetDescription" value="<%= planet.planetDescription %>"
          required>

        <button type="submit">Update Planet</button>
      </form>

      <from action="/users/<%= user._id %>/planets/<%= planet._id %>">
        <button type="submit">Cancel</button>
      </from>
    </nav>

</body>

</html>